.library-tab {
  opacity: 0;
  transition: 0.3s ease opacity;
  z-index: 1;
  height: 420px;
  display: flex;
  justify-content: center;
  &.active {
    transition-delay: 0.3s;
    opacity: 1;
    z-index: 10;
  }

  .consoles {
    width: 100%;
    max-width: 560px;
    .consolesLayout {
      display: grid;
      grid-template-columns: 1fr 1px 1fr;
      height: 320px;
      gap: 20px;
    }
    .activeSystems,
    .disabledSystems {
      position: relative;
      h2 {
        font-size: 1.125rem;
        position: absolute;
        bottom: -44px;
        left: 50px;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-weight: 400;
        color: #aaa;
      }
      button {
        padding: 4px 12px;
        font-size: 1.25rem;
        position: absolute;
        right: 20px;
        transition: 0.3s ease;
      }
    }
    .activeSystems {
      button {
        padding: 3px 12px 6px 12px;
      }
    }
    .activeSystemsInner,
    .disabledSystemsInner {
      overflow-y: auto;
      overflow-x: hidden;
      max-height: 320px;
      height: 100%;
      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-track {
        background: #00000060;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #606060;
        border-radius: 10px;
      }
      > div {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 16px 18px;
        h3 {
          color: #eee;
          font-weight: 500;
        }
      }
    }
    img {
      max-width: 30px;
      width: 100%;
      filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
    }
    span {
      display: block;
      width: 1px;
      height: 100%;
      background: rgba(255, 255, 255, 0.25);
    }
  }
}
