.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 20;
  padding: 40px 0;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: -20px;
    > div {
      margin: 0 120px 0 140px;
      transition: margin 0.5s ease;
    }
    li {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 12px 24px;
      cursor: pointer;
      border: 1px solid transparent;
      transition: 0.3s ease;
      border-radius: 10px;
      &:hover {
        background: linear-gradient(
          to bottom right,
          rgba(35, 35, 35, 0.85),
          rgba(22, 22, 22, 0.65)
        );
        border: 1px solid rgba(255, 255, 255, 1);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
        h2 {
          color: var(--w1);
        }
        img:not(.user-icon) {
          filter: brightness(200%);
        }
      }
      img {
        width: 50px;
        height: 50px;
        -webkit-mask-image: linear-gradient(
          to bottom right,
          #000,
          rgba(0, 0, 0, 0.5)
        );
        mask-image: linear-gradient(to bottom left, #000, rgba(0, 0, 0, 0.5));
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: cover;
        mask-size: cover;
        transition: filter 0.3s ease;
      }
      .user-icon {
        border-radius: 5px;
        mask-image: none;
      }
      h2 {
        color: #808080;
        font-weight: 600;
        transition: color 0.3s ease;
      }
    }
  }
}
