.profile-screen {
  .user-panel {
    .user-title {
      display: flex;
      gap: 20px;
      img {
        max-width: fit-content;
        border-radius: 10px;
        max-width: 128px;
        max-height: 128px;
        filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.5));
      }
      h1 {
        color: var(--w1);
      }
      p {
        color: #808080;
        font-weight: 500;
        font-size: 1.125rem;
        max-width: 300px;
      }
      span {
        color: #808080;
        font-size: 1.125rem;
      }
    }
  }
}
