@font-face {
  font-family: "Chakra Petch";
  src: url("/resources/fonts/subset-ChakraPetch-MediumItalic.woff2")
    format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Chakra Petch";
  src: url("/resources/fonts/subset-ChakraPetch-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Chakra Petch";
  src: url("/resources/fonts/subset-ChakraPetch-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Chakra Petch";
  src: url("/resources/fonts/subset-ChakraPetch-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Chakra Petch";
  src: url("/resources/fonts/subset-ChakraPetch-LightItalic.woff2")
    format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Chakra Petch";
  src: url("/resources/fonts/subset-ChakraPetch-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Chakra Petch";
  src: url("/resources/fonts/subset-ChakraPetch-BoldItalic.woff2")
    format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Chakra Petch";
  src: url("/resources/fonts/subset-ChakraPetch-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Chakra Petch";
  src: url("/resources/fonts/subset-ChakraPetch-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Chakra Petch";
  src: url("/resources/fonts/subset-ChakraPetch-SemiBoldItalic.woff2")
    format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Vudotronic";
  src: url("/resources/fonts/Vudotronic.otf") format("otf");
  font-display: swap;
}

:root {
  --w1: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
  outline: none;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  -webkit-user-drag: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
a {
  overflow-wrap: break-word;
  font-family: "Chakra Petch", sans-serif;
  text-decoration: none;
  color: inherit;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

ul {
  list-style-type: none;
}

#root {
  isolation: isolate;
}

.Homebrew,
.Hack,
.Demo,
.Subset {
  text-transform: uppercase;
  display: inline-block;
  font-size: 0.95rem;
  transform: translateY(-2px);
  background: #2b8be4;
  padding: 0px 6px;
  border-radius: 5px;
}

.Subset {
  background: #722be4;
  text-wrap: nowrap;
}

.Hack {
  background: #e42b2b;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
